body {
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    height: 100vh;
}

.container {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(204, 134, 83);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.637);
    width: 500px;
    text-align: center;
}

h1 {
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
}

input {
    height: 35px;
    border: none;
    background-color: rgb(196, 160, 134);
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    font-size: 24px;
    padding: 5px 10px;
    width: 400px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
}

.info {
    display: none;
}